:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-terciary: #252533;
  --color-1: #e012e7;
  --color-2: #250dd8;
  --color-3: #8713b2;
  --color-4: #1e177f;
  --color-5: #f121f5;
  --color-icon: #DF49A6;
  --transition-speed: 600ms;
}
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: auto;
}
body {
  color: var(--text-primary);
  /* background-color: var(--bg-secondary); */
  margin: 0;
  padding: 0;
  /* overflow: inherit; */
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--text-primary);
}
h1 {
  margin-top: 5rem;
  font-size: 42px;
  text-align: center;
  color: var(--text-secondary);
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  /* background: transparent; */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover, .nav-link:focus {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  outline: none;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--color-icon);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo i
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

/* WIP */
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
}
footer {
  margin-left: 5rem;
  padding: 1rem;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-content: center;
}
/* User */
.form1 fieldset{
  border: none;
}
.form1 h1{
  margin-top: 0;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 500;
}
.form1 input[type=text],input[type=password]{
  border: 0;
  background: none;
  display: block;
  margin: 1rem auto;
  text-align: center;
  border: 0.1rem solid var(--text-primary);
  padding: 14px 10px;
  width: 80%;
  outline: none;
  color: var(--text-primary);
  border-radius: 24px;
  transition: 0.25s;
  box-sizing: border-box;
}
.form1 input[type=text]:focus,input[type=password]:focus{
  width: 100%;
  border-color: var(--text-secondary);
  border-width: thin;
}
.form1 input[type=submit]{
  border: 0;
  background: none;
  display: block;
  margin: 1rem auto;
  text-align: center;
  border: 0.1rem solid var(--text-primary);
  padding: 14px 10px;
  width: 50%;
  outline: none;
  color: var(--text-secondary);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
input[type=submit]:hover,input[type=submit]:focus {
  /* Color inversion */
  background-color: var(--text-primary);
  color: var(--bg-primary);
}
.form1 a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 12px;
}
.form1 a:focus {
  /* Color inversion */
  background-color: var(--text-primary);
  color: var(--bg-primary);
}
.card-form {
  /* dimensions */
  height: 350px;
  width: 300px;
  min-width: 300px;
  /* separation between cards */
  margin: 8rem auto 1rem auto;
  /* curve border */
  border-radius: 16px;
  /* background color */
  background: var(--bg-terciary);
  /* position */
  position: static;
  display: flex;
  flex-direction: column;
  /* content position */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* hover transition time */
  transition: .2s;
  box-shadow: -1rem 0 5rem #000;
  clear: both;
}
/* End User */
/* Planets */
.card-list {
    display: flex;
    /* wrap is needed for multiple rows */
    flex-wrap: wrap;
    overflow-x: hidden;
    text-align: center;
}
.card-list header {
  width: 100%;
}
.card {
  /* dimensions */
  height: 350px;
  width: 500px;
  min-width: 300px;
  /* separation between cards */
  margin: 1rem auto 1rem auto;
  /* curve border */
  border-radius: 16px;
  /* background color */
  background: var(--bg-terciary);
  /* position */
  position: static;
  display: flex;
  flex-direction: column;
  /* content position */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* hover transition time */
  transition: .2s;
  clear: both;
}
.card img.icon-img {
  width: 100px;
  height: 100px;
}
.card:hover {
    transform: translateY(-1rem);
    box-shadow: .5rem 0 2rem #000;
}
.card:hover a {
  color: var(--text-secondary);

}
/* End Planets */
